@-webkit-keyframes hover {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
  }
  to {
    -webkit-box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
    background-color: #bababa;
    font-size: 1.4rem;
    height: 110%;
  }
}
@keyframes hover {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
  }
  to {
    -webkit-box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
    background-color: #bababa;
    font-size: 1.4rem;
    height: 110%;
  }
}
