#header-grid {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 33.3% 33.3% 33.3%;
      grid-template-rows: 33.3% 33.3% 33.3%;
  background: red;
}

.fa-canadian-maple-leaf {
  font-size: 3rem;
  -ms-grid-row: 1;
      grid-row-start: 1;
  color: red;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
}

.newsworld-h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 1px 3px 3px #777;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.newsworld-header-nav {
  background-color: red;
}

#home-page-link {
  text-transform: uppercase;
  color: white;
  font-size: 4rem;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 1px 3px 3px #777;
  color: whitesmoke;
}

.button-menu {
  background-color: rgba(222, 206, 206, 0);
  border: none;
}

.main {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
}

@media screen and (min-width: 460px) and (max-width: 1000px) {
  .newsworld-header-nav {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  #header-grid {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
    background-color: red;
  }
  .fa-canadian-maple-leaf {
    text-shadow: 1px 1px 5px black;
    font-size: 3rem;
    -ms-grid-row: 1;
        grid-row-start: 1;
    color: red;
    text-shadow: 5px 0px 20px 30px white;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
  }
  .newsworld-menu-icon {
    display: none !important;
  }
  .newsworld-h1 {
    font-size: 4rem;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
  }
  .newsworld-header-nav {
    width: 100%;
    height: 100%;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    background-color: silver;
    color: white;
  }
  .desktop-nav-grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    -ms-grid-columns: 20% 20% 20% 20% 20%;
        grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .nav-ul {
    width: 70%;
    height: 100%;
    margin-left: auto;
  }
  .li-nav {
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .li-nav-a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px white;
    -webkit-transition: all .7s;
    transition: all .7s;
    height: 100%;
  }
  .li-nav:hover {
    position: relative;
    background-color: #bababa;
    -webkit-box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
    -webkit-animation: hover;
            animation: hover;
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: easeOutBack;
            animation-timing-function: easeOutBack;
    -webkit-box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
    background-color: #bababa;
    font-size: 1.4rem;
    height: 110%;
    width: 100%;
  }
  .li-nav-a-active {
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  #search-bar {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .newsworld-h1 {
    font-size: 5rem;
    -ms-grid-row: 1;
        grid-row-start: 1;
    margin-top: 2rem;
  }
}

.top-stories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 16.66% 16.66% 20%;
      grid-template-rows: 16.66% 16.66% 20%;
  /* background-image:url(/images/world.jpg); */
  width: auto;
  height: 350px;
  border: 1px solid gray;
  -webkit-box-shadow: 20px 20px 20px rbg(255, 0, 0);
          box-shadow: 20px 20px 20px rbg(255, 0, 0);
  overflow: hidden;
}

#top-stories-headline {
  -ms-grid-column: 1;
      grid-column-start: 1;
  position: relative;
  z-index: 1;
  grid-column-end: 3;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  height: 100%;
  width: 100%;
  color: black;
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  margin: auto;
  background-color: rgba(193, 193, 193, 0.6);
}

.top-stories-links {
  text-decoration: none;
  color: black;
}

.top-stories-date {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
  color: white;
  position: relative;
  z-index: 5;
  font-size: 1rem;
}

.top-stories-author {
  color: red;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  /* margin-top: 3rem; */
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  margin-top: 8rem;
  position: relative;
  z-index: 4;
}

.top-stories-description {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  color: black;
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  text-align: justify;
  /* border-bottom: 1px solid black; */
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  position: relative;
}

.article-img {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
  z-index: 0;
  width: auto;
  min-width: 300px;
  height: auto;
  max-height: 400px;
  /* margin: auto; */
  display: block;
  /* max-width: 400px; */
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .top-stories-date {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 6;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    font-size: 1.3rem;
    text-align: center;
    /* margin-left: 20rem; */
    color: white;
  }
  .top-stories-description {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    text-align: left;
    /* border-bottom: 1px solid black; */
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
  }
  #top-stories-headline {
    -ms-grid-column: 1;
        grid-column-start: 1;
    position: relative;
    z-index: 1;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    height: 100%;
    width: 100%;
    display: block;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    color: black;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    margin: auto;
    background-color: rgba(193, 193, 193, 0.6);
  }
  .top-stories-date {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    margin-top: 70%;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    text-shadow: 1px 3px 3px rgba(6, 6, 6, 0.6);
    text-align: center;
    color: white;
    /* margin-left: 20rem; */
  }
  .top-stories-author {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    line-height: 1.2;
    /* margin-top: 3rem; */
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 10rem;
    position: relative;
    z-index: 4;
  }
}

@media screen and (max-width: 1000px) {
  .top-stories-description {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
    text-align: left;
    /* border-bottom: 1px solid black; */
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
  }
}

@media screen and (min-width: 1000px) {
  .top-stories-links {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    width: 100%;
  }
  #top-stories-headline {
    -ms-grid-column: 1;
        grid-column-start: 1;
    position: relative;
    z-index: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 6;
    height: 75%;
    width: 100%;
    display: block;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    color: black;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    margin: auto;
    background-color: rgba(193, 193, 193, 0.6);
  }
  .top-stories-date {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 6;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Battambang', cursive;
    color: white;
    background-color: red;
    /* margin-left: 20rem; */
  }
  .top-stories-author {
    color: black;
    font-family: 'Battambang', cursive;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    /* margin-top: 3rem; */
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    background-color: gray;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 5;
    text-align: center;
    width: 100%;
    top: 3rem;
    position: relative;
    z-index: 4;
  }
  #topstories-top-target {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    margin-left: 3%;
  }
}

@-webkit-keyframes hover {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
  }
  to {
    -webkit-box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
    background-color: #bababa;
    font-size: 1.4rem;
    height: 110%;
  }
}

@keyframes hover {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
  }
  to {
    -webkit-box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
    background-color: #bababa;
    font-size: 1.4rem;
    height: 110%;
  }
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  background-color: white;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  line-height: 1.7;
  color: #777;
  background-image: url(/img/movie-theater-4609877_1920.jpg);
  background-size: 130%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-site-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 5rem 25vh 7vh 50vh 5vh;
      grid-template-rows: 5rem 25vh 7vh 50vh 5vh;
}

#top-headline-div {
  margin: 2rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

#headline-top-target {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  height: 100%;
  width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  background-image: url(/images/wolrd-9-1187862.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 20% 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 20% 20%;
}

.headline {
  width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.headline-h2 {
  -ms-grid-row: 4;
      grid-row-start: 4;
}

#top-headline-link {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
}

.top-headline-image {
  display: none;
}

.top-headline-summary-p {
  -ms-grid-row: 5;
      grid-row-start: 5;
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Roboto Slab', serif;
  color: whitesmoke;
}

main {
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.main-top-stories-h2 {
  text-align: center;
  font-size: 1.7rem;
  background-color: red;
  color: white;
}

@media screen and (max-width: 460px) {
  .headline {
    width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 6;
  }
  .headline-h2 {
    font-size: 1.5rem;
  }
  .top-headline-summary-p {
    display: none;
  }
}

@media screen and (min-width: 460px) and (max-width: 1000px) {
  .newsworld-header-nav {
    display: none;
  }
  .headline {
    width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 6;
  }
  .headline-h2 {
    font-size: 1.5rem;
  }
  .top-headline-summary-p {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .main-site-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 10rem  30vh 7vh 50vh 5vh;
        grid-template-rows: 10rem  30vh 7vh 50vh 5vh;
  }
  .top-headline-summary-p {
    font-size: 1rem;
  }
  #headline-top-target {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    background-image: url(/images/wolrd-9-1187862.jpg);
    background-size: cover;
    background-blend-mode: darken;
  }
  .headline {
    width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 6;
  }
  .headline-h2 {
    font-size: 2.7rem;
  }
}
