.headline-container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  -ms-grid-columns: [first] 20% [second] 20% [third] 20% [fourth] 20% [fifth] 20%;
      grid-template-columns: [first] 20% [second] 20% [third] 20% [fourth] 20% [fifth] 20%;
  -ms-grid-rows: max-content 1fr 1fr;
      grid-template-rows: -webkit-max-content 1fr 1fr;
      grid-template-rows: max-content 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.headline-container-mark-up {
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: 1px 2px 5px black;
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.2);
}

.headline-container-mark-up-img {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-color: blue;
}

.headline-container-mark-up-img-heading {
  color: white;
  text-shadow: 1px 2px 5px black;
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.2);
}

.data-target {
  height: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.canada-target-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 25% 25%;
      grid-template-rows: 50% 25% 25%;
}

.canada-target-headline {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  grid-row: 3;
}

.aus-target-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 25% 25%;
      grid-template-rows: 50% 25% 25%;
}

.aus-target-headline {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  grid-row: 3;
}

.uk-target-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 25% 25%;
      grid-template-rows: 50% 25% 25%;
}

.uk-target-headline {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  grid-row: 3;
}

.nz-target-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 25% 25%;
      grid-template-rows: 50% 25% 25%;
}

.nz-target-headline {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  grid-row: 3;
}

.nz-target-headline-h2 {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .target-article-headline {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .headline-container-canada {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .canada-target-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 50% 25% 25%;
        grid-template-rows: 50% 25% 25%;
  }
  .canada-target-headline {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .canada-target-headline-h2 {
    font-size: 2.5rem;
    margin: 1rem;
    margin-left: 0rem;
  }
  .headline-container-uk {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: article;
  }
  .uk-target-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 50% 25% 25%;
        grid-template-rows: 50% 25% 25%;
  }
  .uk-target-headline {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 1rem;
    margin-left: 0rem;
  }
  .uk-target-headline-h2 {
    font-size: 1.8rem;
  }
  .usa-target-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 50% 25% 25%;
        grid-template-rows: 50% 25% 25%;
  }
  .usa-target-headline {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 1rem;
    margin-left: 0rem;
  }
  .usa-target-headline-h2 {
    font-size: 1.8rem;
  }
  .nz-target-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 50% 25% 25%;
        grid-template-rows: 50% 25% 25%;
  }
  .nz-target-headline {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 1rem;
    margin-left: 0rem;
  }
  .nz-target-headline-h2 {
    font-size: 1.6rem;
  }
  .aus-target-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 50% 25% 25%;
        grid-template-rows: 50% 25% 25%;
  }
  .aus-target-headline {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 1rem;
    margin-left: 0rem;
  }
  .aus-target-headline-h2 {
    font-size: 1.6rem;
  }
  .headline-container {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    height: 100vh;
    -ms-grid-columns: [first] 20% [second] 20% [third] 20% [fourth] 20% [fifth] 20%;
        grid-template-columns: [first] 20% [second] 20% [third] 20% [fourth] 20% [fifth] 20%;
    -ms-grid-rows: max-content max-content max-content max-content;
        grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
        grid-template-rows: max-content max-content max-content max-content;
        grid-template-areas: "header" "article" "article-two";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-template: [row1-start] "header " [row1-end] [row2-start] "article" [row2-end];
  }
  .headline-container-mark-up {
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 1px 2px 5px black;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .headline-container-mark-up-img {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-color: blue;
  }
  .headline-container-mark-up-img-heading {
    color: white;
    text-shadow: 1px 2px 5px black;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
