@import '../scss/mixins.scss';
@import '../scss/nav-menu.scss';
@import '../scss/topstories.scss';
@import '../scss/animations.scss';
// fonts
// font-family: 'Aboreto', cursive;
// font-family: 'Abril Fatface', cursive;
// font-family: 'Battambang', cursive;
// font-family: 'Cinzel Decorative', cursive;
// font-family: 'Crimson Text', serif;
// font-family: 'Roboto Slab', serif;
// 

// Variables

// font styles



*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  }

html {
background-color: white;
font-size: 62.5%;
overflow-x: hidden;
}

body {
line-height: 1.7;
color: #777;
background-image: url(/img/movie-theater-4609877_1920.jpg);
background-size: 130%;
box-sizing: border-box; 
}

.main-site-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5rem 25vh 7vh 50vh 5vh;
}



#top-headline-div{
    margin: 2rem;
    font-size: 1.5rem;
    text-align: center;
    
    text-transform: uppercase;
    letter-spacing: .2rem;
}

#headline-top-target{
    grid-row-start: 2;
    grid-row-end: 4;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url(/images/wolrd-9-1187862.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:darken;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.headline{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.headline-h2{
    grid-row-start: 4;
}

#top-headline-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}
.top-headline-image{
    display: none;
}

.top-headline-summary-p{
    grid-row-start: 5;
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
    
}

// main content

main{
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}

.main-top-stories-h2{
    text-align: center;
    font-size: 1.7rem;
    background-color: red;
    color: white;
}

.topstories{
// display: flex;

    
}

// reading list styles
.reading-list-1{
    grid-row: 0/4;
    width: 100vw;
    font-size: 12pt;
    columns: 2;
}


// Utility Classes
@media screen and (max-width:460px){
    
    .headline{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 6;
        
        
        &-h2{
            font-size: 1.5rem;
        }
    }

    .top-headline-summary-p{
        display: none;
        
    }
}
@media screen and (min-width:460px) and (max-width:1000px){
    .newsworld-header-nav{
        display: none;
    }
    .headline{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        
        
        &-h2{
            font-size: 1.5rem;
        }
    }

    .top-headline-summary-p{
        display: none;
    }
}


@media screen and (min-width:1000px) {
    



    
    .main-site-grid{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 10rem  30vh 7vh 50vh 5vh;
    }
    .top-headline-summary-p{
        font-size: 1rem;
        
    }





   
    #headline-top-target{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
   
    background-image: url(/images/wolrd-9-1187862.jpg);
    background-size: cover;
    background-blend-mode:darken;
    }

    .headline{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        
        &-h2{
            font-size: 2.7rem;
        }
    }
}


#choose-by-topic-grid{
    
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 400px 50px 350px 350px 350px 1fr;
    grid-template-areas:"banner banner banner banner banner"
                        "dropdn dropdn dropdn dropdn dropdn "
                        "Topic-story-1 Topic-story-1 Topic-story-1 Topic-story-1 Topic-story-1"
                        "Topic-story-2 Topic-story-2 Topic-story-2 Topic-story-2 Topic-story-2"
                        "Topic-story-3 Topic-story-3 Topic-story-3 Topic-story-3 Topic-story-3"
    ;
    
}

.banner-grid{
    grid-area: banner;
    // background-color: blue;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.topic-article-1-grid{
    grid-area: Topic-story-1;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.topic-article-2-grid{
    grid-area: Topic-story-2;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.topic-article-3-grid{
    grid-area: Topic-story-3;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 20% 20% 20% 20% 20%;
}