@mixin worldStoriesHeadlines {
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 5px black;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    background-color: rgba(0,0,0,.2);
}

@mixin read-more-button($width,$fontrems,$opacity) {
    font-size: $fontrems;
    color: rgb(168, 168, 168);
    box-shadow: 5px 4px 12px rgba(0,0,0,.8);
    border-radius: .5rem ;
    width: $width;
    margin: auto;
    opacity: $opacity;
    background-color: rgba(173, 14, 14, 0.3);
    border: 1px solid black;
    padding: 1rem;
}

.headline-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: [first]20% [second] 20% [third] 20% [fourth] 20% [fifth] 20%;
    grid-template-rows: max-content max-content;
    column-gap: 2rem;
    

    &-mark-up{
        width: 100%;
        height: 100%;
        @include worldStoriesHeadlines();
        
        // background-color: aqua;
        &-img{
            height: 600px;
            width: 100%;
            background-size: cover;
            background-image: url(/images/world.jpg);
            
            &-heading{
                @include worldStoriesHeadlines();
                
            }
        }
    }

}
// headline background image
.data-target{
        // display: none;
        height: 100%;
        background-size: contain;
        display: flex;
        align-content: center;
        background-attachment: fixed;
        

    
}

// Target content flexbox 
.target-content{
    ;
}

.canada-target{
    // headline content layout grid
    &-div{
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 25% 25%;
    }
    &-headline{
        grid-column: 1/5;
        grid-row: 3;
    }
}


.usa-target{
    &-div{
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 25% 25%;
    }
    &-headline{
        grid-column: 1/5;
        grid-row: 3;
    }
}
.aus-target{
    &-div{
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 25% 25%;
    }
    &-headline{
        grid-column: 1/5;
        grid-row: 3;
    }
}
.uk-target{
    &-div{
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 25% 25%;
    }
    &-headline{
        grid-column: 1/5;
        grid-row: 3;
    }
}
.nz-target{
    &-div{
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 25% 25%;
    }
    &-headline{
        grid-column: 1/5;
        grid-row: 3;

        &-h2{
            text-align: center;
        }
    }
}

// media queries

@media screen and (max-width:800px) {
    // universal selectors for all articles
    .target-article-headline{
        background-color:rgba(0,0,0,.2)
    }
    .data-target{
        // display: none;
        height: 100%;
        background-size: 195%;
        
        background-repeat: no-repeat;
        display: flex;
        align-content: center;
        background-attachment:fixed;
    }   
    
    #canada-target{
        display: grid;
        grid-template-columns: repeat(12, 8.33%);
        grid-template-rows: repeat(3,10%) 10%  minmax(25%,20%) 10% 10% ;
        height: 400px;
    }
    .canada-target-div{
        display: grid;
        grid-template-columns: repeat(12, 8.33%);
        grid-template-rows: repeat(3,10%) 10%  minmax(25%,20%) 10% 10% ;
        height: 400px;
    }
    // 2nd, third top story section. 
    .block0{
        grid-column: 1/13;
        grid-row:8/9;
        font-size: .7rem;
        background-color:  rgba(94, 94, 94,.5);
        width: 100%;
        height: 100%;
        border-bottom: 1px solid black;
        justify-self: center;
        border-top: 1px solid rgb(0, 0, 0);
    }
    .headline-story-hot-link{
     @include read-more-button(100%,4.5rem,.8);
     opacity: .8;
     background-color: rgba(173, 14, 14, 0.3);
     border: 1px solid black;
     padding: 1rem;
    }
    .block1{
        justify-self: center;
        grid-column: 1/13;
        grid-row: 7/8;
        font-size: .7rem;
        background-color:  rgba(94, 94, 94,.3);
        height: 100%;
        width: 100%;
        border-top: 1px solid rgb(0, 0, 0);
    }
    .secondary-links{
        display:flex ;
        grid-row: 7;
        grid-column: 10/13;
        @include read-more-button(200px,1rem,.8);
        height: 3rem;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }
    
    
    

    .headline-container-canada{
        
    }
    .canada-target-div{
        grid-column: 1/13;
        grid-row: 3/3;
        display: flex;

    }
    .canada-target-headline{
      
        &-h2{
            width: 100%;
            font-size: 2.3rem;
            margin: 1.6rem;
            margin-top: 0rem;
            margin-left: 0rem;
        }
    }

    .canada-second-headline{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .headline-container-uk{
        grid-area: article;
    }
    .uk-target{
        &-div{
            
            display:grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 50% 25% 25%;
        }
        &-headline{
            grid-column: 1/6;
            grid-row: 2;
            
            margin: 1rem;
            margin-left: 0rem;
            &-h2{
                font-size: 1.8rem;
            }
        }
    }
    .usa-target{
        &-div{
            
            display:grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 50% 25% 25%;
        }
        &-headline{
            grid-column: 1/6;
            grid-row: 2;
            
            margin: 1rem;
            margin-left: 0rem;
            &-h2{
                font-size: 1.8rem;
            }
        }
    }
    .nz-target{
        &-div{
            
            display:grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 50% 25% 25%;
        }
        &-headline{
            grid-column: 1/6;
            grid-row: 3;
            
            margin: 1rem;
            margin-left: 0rem;
            &-h2{
                font-size: 1.6rem;
            }
        }
    }

    .aus-target{
        &-div{
            
            display:grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 50% 25% 25%;
        }
        &-headline{
            grid-column: 1/6;
            grid-row: 2;
            
            margin: 1rem;
            margin-left: 0rem;
            &-h2{
                font-size: 1.6rem;
            }
        }
    }


    .headline-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: [first]20% [second] 20% [third] 20% [fourth] 20% [fifth] 20%;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas: "header"
    "article"
    "article-two";
    grid-template-rows: auto;
    grid-template: [row1-start]"header " [row1-end]
    [row2-start] "article" [row2-end];
    


        &-mark-up{
            width: 100%;
            height: 100%;
            @include worldStoriesHeadlines();
            
            // background-color: aqua;
            &-img{
                height: 400px;
                width: 100%;
                background-size: cover;
                background-color: blue;
                &-heading{
                    @include worldStoriesHeadlines();
                    
                }
            }
        }

    }

}

@media screen and (min-width:800px){
    
    .headline-container{
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns:repeat(12, 8.33% [first-column]) [first-column-end];
        // grid-template-columns: repeat(3,33.33%[col2]) [col2-end];
        grid-template-rows: max-content max-content;
        column-gap: 0%;
        
        
    
    
            &-mark-up{
                width: 100%;
                height: 100%;
                @include worldStoriesHeadlines();
                
                // background-color: aqua;
                &-img{
                    height: 600px;
                    width: 100%;
                    background-size: cover;
                    background-color: blue;
                    &-heading{
                        @include worldStoriesHeadlines();
                        
                    }
                }
            }
    
        }
        .headline-container-canada{
            grid-row: 1/2;
            grid-column: 1/13;
        }
        #canada-target{
            display: grid;
            grid-template-columns: repeat(12, 8.33%);
            grid-template-rows: repeat(4, 25%);
        }
        // article photo
        .data-target{
            // display: none;
            height: 100%;
            background-size: 170%;
            // background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-content: center;
            background-attachment: fixed;
        }  
        .canada-target-div{
            
            grid-column: 1/13;
            grid-row: 3;
            display: grid;
            grid-template-columns: 50% 25% 25%;

        }
        .canada-target-headline{
            grid-row: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            &-h2{
                grid-column: 1/13;
                
                font-size: 3.5rem;
                
            }
        }
        .headline-story-hot-link{
            grid-row: 3;
            grid-column: 3;
            @include read-more-button(100%,2rem,.8);
        }
// secondary stories

        .block0{
            grid-column: 1/7;
            grid-row: 4;
            background-color: rgba(0,0,0,.3);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
        }
        .block1{
            grid-column: 7/13;
            grid-row: 4;
            background-color: rgba(0,0,0,.3);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            
        }
        .target-article-headline-secondary{
            margin: 1rem;
        }
        .canada-target-secondary-headline-h2{
            font-size: 1.7rem;
            text-transform: uppercase;
            text-align: center;
   
        }

        .read-more-button-canada{
            @include read-more-button(100%,2rem,.8);
            font-size: 1rem;
            color: white;
        }

        .headline-container-mark-up-img{}
        .headline-container-usa{
            grid-column: 1/7;
            grid-row: 2;
         
        }
        .usa-target{
            
            
            &-div{
                box-shadow: 5px 5px 5px black;
                display:grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 50% 25% 25%;
            }
            &-headline{
                grid-column: 1/7;
                grid-row: 2;
                margin: 5%;
            }
        }
        .headline-container-uk{
            grid-column: 7/13;
            grid-row: 2/3;
        }
        .uk-target{
            
            
            &-div{
           
                display:grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 50% 25% 25%;
            }
            &-headline{
                grid-column: 1/5;
                grid-row: 2;
                margin: 5%;
            }
        }
    
        .headline-container-aus{
            grid-column: 1/7;
            grid-row: 3;
        }
        .aus-target{
            
            
            &-div{
           
                display:grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 50% 25% 25%;
            }
            &-headline{
                grid-column: 1/6;
                grid-row: 2;
                margin: 5%;
            }
        }
    
        .headline-container-nz{
            grid-column: 7/13;
            grid-row: 3;
        }
        .nz-target{
            
            &-div{
                width: 100%;
                
                display:grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 50% 25% 25%;
            }
            &-headline{
                grid-column: 1/5;
                grid-row: 2;
                margin: 5%;
            }
        }
    
}
@media screen and (min-width:1365px) {
    .data-target{
        // display: none;
        height: 100%;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        display: flex;
        align-content: center;
        background-attachment: fixed;
    } 
}