*,
*::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  background-color: white;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  line-height: 1.7;
  color: #777;
  background-image: url(/img/movie-theater-4609877_1920.jpg);
  background-size: 130%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-site-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 5rem 30vh 7vh 50vh 5vh;
      grid-template-rows: 5rem 30vh 7vh 50vh 5vh;
}

#header-grid {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80vw 20vw;
      grid-template-columns: 80vw 20vw;
  -ms-grid-rows: 33.3% 33.3% 33.3%;
      grid-template-rows: 33.3% 33.3% 33.3%;
  background-color: red;
}

.newsworld-h1 {
  color: white;
  font-size: 4rem;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Abril Fatface', cursive;
}

.newsworld-menu-icon {
  margin-top: .3rem;
  font-size: 4rem;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
}

.newsworld-header-nav {
  background-color: red;
}

.main {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
}

.headline {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;
  height: 100%;
}

.headline-h2 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

#top-headline-div {
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

#headline-top-target {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  background-color: lightcoral;
  background-image: url(/images/wolrd-9-1187862.jpg);
  background-size: contain;
  background-blend-mode: darken;
}

#top-headline-link {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.top-headline-summary-p {
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Roboto Slab', serif;
  color: whitesmoke;
}

main {
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.top-stories {
  border-bottom: 5 px solid black;
}

#top-stories-headline {
  color: black;
  text-transform: capitalize;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: auto;
  margin: 1rem;
}

.top-stories-author {
  color: red;
  font-family: 'Aboreto', cursive;
  font-size: .8rem;
  text-align: center;
}

.top-stories-description {
  color: black;
  font-family: 'Crimson Text', serif;
  font-size: 1.3rem;
  border-bottom: 1px solid black;
  margin: 2rem;
  margin-bottom: 3rem;
}
